<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Ilustra</title>
  <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
  <link href="../static/materialize/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../static/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div class="intro black z-depth-1">
    <h1 class="yellow-text">Ilustra</h1>
    <!-- search -->
    <form method="get" action="/search">
      <div class="container black input-field">
        <input id="song" name="song" type="search" class="black yellow-text" required>
        <label class="center yellow-text" for="search"><i class="yellow-text material-icons left">search</i>Search for a song</label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../static/materialize/js/materialize.min.js"></script>
  <script src="../static/js/init.js"></script>
</body>
</html>
